<p-fieldset legend="Torneos" class="content-sport-banner">
    <div class="p-card sport-banner">
        <img class="img-banner"src="assets/banners/banner_soccer.png">
        <div class="middle">
            <div class="text">Inscribir equipo</div>
        </div>
    </div>
    <div class="p-card sport-banner">
        <img class="img-banner"src="assets/banners/banner_basquet.png">
        <div class="middle">
            <div class="text">Inscribir equipo</div>
        </div>
    </div>
    <div class="p-card sport-banner">
        <img class="img-banner"src="assets/banners/banner_volley.png">
        <div class="middle">
            <div class="text">Inscribir equipo</div>
        </div>
    </div>
</p-fieldset>