<div class="p-grid p-flex-column">
    <div class="p-col-10 p-offset-1">
        <div class="box">
            <div class="p-text-center"><h2>Solicitar reserva</h2></div>
        </div>
    </div>
    <div class="p-col-10 p-offset-1">
        <div class="p-grid">
            <div class="p-col-6" *ngFor="let f of (fields$ | async); let isOdd=odd">
                <p-card styleClass="p-card-shadow box-sport">                    
                    <div class="p-grid box-sport">
                        <div class="p-col-4" style="height: 100%;">
                            <img alt="Card" src="{{ f.fieldType.idFieldType | imageResource }}" class="img-sport">
                        </div>
                        <div class="p-col-4 p-as-center">
                            <div class="p-card-title">
                                {{f.fieldType?.name}}
                            </div>
        
                            <div class="p-card-subtitle">
                                {{f.amount | currency:'CLP':'symbol-narrow':'1.0-0'}}
                            </div>
                        </div>
                        <div class="p-col-4 p-as-center">
                            <p-button (click)="showDialog(f)" label="Reservar" icon="pi pi-check-square"
                            styleClass="p-button-success"></p-button>
                        </div>
                    </div>
                </p-card>
            </div>
            

            <!-- Modal disponibilidad -->
            <p-dialog header="Disponibilidad" [(visible)]="display" [style]="{width: '50vw'}"
                [baseZIndex]="10000"> 

                <div class="p-grid">
                    <div class="p-col-6">
                        <h5>Selección de día</h5>
                        <p-calendar [(ngModel)]="dateModel" [inline]="true" [minDate]="dateMin"  [maxDate]="dateMax"
                        (onSelect)="onSelect(fieldModel)"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <h5>Horarios disponibles</h5>

                        <p-listbox [options]="schedules" [(ngModel)]="scheduleModel" emptyMessage="No hay horas disponibles" >
                            <ng-template let-schedule pTemplate="item">
                                <div class="schedule-item">
                                    <div>{{schedule.initTime}} - {{schedule.finalTime}}</div>
                                </div>
                            </ng-template>
                        </p-listbox>

                    </div>
                </div>
                
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-times" (click)="display=false" label="Cancelar" styleClass="p-button-text"></p-button>
                    <p-button icon="pi pi-check" (click)="ngOnSubmit()" label="Reservar"></p-button>
                </ng-template>
            </p-dialog>
            <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
            <p-toast position="top-right"></p-toast>
        </div>
    </div>
    <div class="p-col">
    </div>
</div>