<div class="bg-login">
    <div class="spinner">
        <p-progressSpinner *ngIf="authService.isAuthenticated()"></p-progressSpinner>
    </div>
</div>

<div class="p-grid">
    <div class="p-col-3 p-offset-4">
        <div class="p-card card-login">
            
            <div class="p-col-4 p-offset-4">
                <h2>Don Oscarito</h2>
            </div>                
            <div class="p-col-8 p-offset-2">
                <div class="p-field p-fluid">
                    <span class="p-float-label">
                        <input id="txtEmail" type="text" [(ngModel)]="email" pInputText />
                        <label for="float-input">Email</label>
                    </span>
                </div>
            </div>
            <div class="p-col-8 p-offset-2">
                <div class="p-field p-fluid">
                    <span class="p-float-label">
                        <p-password id="txtPassword" [(ngModel)]="password" [feedback]="false" [toggleMask]="true"></p-password>
                        <label for="float-input">Clave</label>
                    </span>
                </div>
            </div>
            <div class="p-col-8 p-offset-2 p-fluid">
                <div class="p-col-12">
                    <button pButton pRipple  type="button" label="Ingresar" (click)="ingresar()"></button>
                </div>
                <div class="p-col-12">
                    <button pButton pRipple type="button" label="Volver" class="p-button-secondary" routerLink="/home"></button>
                </div>
            </div>
        </div>
    </div>
</div>


<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<p-toast position="top-right"></p-toast>
