<div class="p-grid p-flex-column">
    <div class="p-col">
        <div class="box">
            <p>Añadir reserva</p>
        </div>
    </div>
    <div class="p-col">
        <div class="p-grid">
            <div class="p-col-3" *ngFor="let f of (fields$ | async)">
                <div class="box box-stretched">
                    <p-card header="{{f.fieldType?.name}}"
                        subheader="{{f.amount | currency:'CLP':'symbol-narrow':'1.0-0'}}" [style]="{width: '360px'}"
                        styleClass="p-card-shadow">
                        <ng-template pTemplate="header">
                            <img alt="Card" src="{{ f.idField | imageResource }}" style="width: fit-content;">
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <!--Abrir modal disponibilidad-->
                            <p-button (click)="showDialog(f)" label="Reservar" icon="pi pi-envelope"
                                styleClass="p-button-secondary"></p-button>                            
                        </ng-template>
                    </p-card>
                </div>
            </div>

            <!-- Modal disponibilidad -->
            <p-dialog header="Disponibilidad" [(visible)]="display" [style]="{width: '50vw'}"
                [baseZIndex]="10000">
                <h5>Inline</h5>
                <p-calendar [(ngModel)]="date" [inline]="true" [showWeek]="true"></p-calendar>
                <ng-template pTemplate="footer">
                    <p-button icon="pi pi-check" (click)="display=false" label="Yes"
                        styleClass="p-button-text"></p-button>
                    <p-button icon="pi pi-times" (click)="display=false" label="No"></p-button>
                </ng-template>
            </p-dialog>

        </div>
    </div>
    <div class="p-col">
        <!-- <div class="box">3</div> -->
    </div>
</div>